/*--Hors header --*/

  .container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create three equal-width columns */
    grid-gap: 20px; /* Add spacing between the cards */
  }
  
  .card {
    background-color: #f1f1f1;
    padding: 20px;
    box-shadow: 0 0 20px black;
    width: 80%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    background-color: #E6d109;
    text-align: center;
  }

  .club-image {
    border-radius: 50%;
    width: 170px;
    height: 170px;
    object-fit: contain;
  }

  .club-lieu {
    text-align: center;
  }

  .club-body {
    text-align: justify;
  }

  .club-photos-carousel img{
    width: 350px;
    height: 350px;
    border-radius: 5px;
  }

  a{
    text-decoration: none;
  }


  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  
  }
  
  .gallery-item {
    position: relative;
    left: 0px;
    width: 100px;
    border-radius: 16px;
    height: 360px;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    box-shadow: 0 5px 12px rgba(0,0,0, 0.5);
    flex: 0.33;
  }

  .gallery-item-4 {
    position: relative;
    left: 0px;
    width: 100px;
    border-radius: 16px;
    height: 360px;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    box-shadow: 0 5px 12px rgba(0,0,0, 0.5);
    flex: 0.25;
  }
  
  .gallery-item img {
    height: 360px;
  }
  
  .gallery-item:hover {
    flex: 2;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
  }

  .gallery-item-4 img {
    height: 360px;
  }
  
  .gallery-item-4:hover {
    flex: 2;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
  }