<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Club de Plage Royan</title>
  <link rel="stylesheet" type="text/css" href="./clubs.component.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

</head>
<body>
  <header>
    <div id="logo">
      <img src="../../assets/logo.png" alt="Logo">
    </div>
    <div class="title-container">
        <h1>Clubs de Plage de Royan</h1>
      </div>
    <ul class="menu">
      <li><a href="/accueil">Accueil</a></li>
      <li><a href="/natation">Natation</a></li>
      <li><a href="/formulaire-inscription">Formulaire d'inscription</a></li>
      <li><a href="contacts">Contacts et plan</a></li>
      <li><a href="/connexion">Connexion</a></li>
    </ul>
  </header>
  
  <div class="container">
    <div class="card">
      <div class="club-sidebar">
        <img class="club-image" src="../../assets/albatros.png" alt="albatros">
      </div>

      <div class="club-main">
        <h2 class="club-nom">Les Albatros</h2>
        <p class="club-lieu">
          <a href="https://www.google.fr/maps/place/45%C2%B036'34.5%22N+1%C2%B000'32.4%22W/@45.6096884,-1.0119287,17.07z">Voir sur la carte</a>
        </p>
        <p class="club-body"><strong>Matériel au club :</strong><br>
          2 chateaux  gonflables, un grand toboggan et un petit chateau.<br>
          une piscine chauffée.<br>
          3 trampolines de plusieurs taille.<br>
          Un portique avec balançoires.<br>
          Un portique avec abris.<br>
          Un grand nombre de matériel pédagogique.</p>
          <p>
            <strong>Horaire d'ouverture :</strong><br>
            Matin: 9h30 à 12h30<br>
            Après midi: 15h30 à 18h30
          </p>
          <p>
            <strong>Accueil et renseignements (pour ne pas déranger les animateurs) : </strong><br>
            Le matin: 9h30 à 10h00 et 12h00 à 12h30<br>
            L'après midi: de 15h30 à 16h00 et 18h00 à 18h30<br>
            En dehors de ces heures: Voir rubrique contacts
          </p>
          <div class="club-photos-carousel">
            <img src="../../assets/club-albatros1.jpeg" alt="Photo 1">
            <img src="../../assets/club-albatros2.jpeg" alt="Photo 2">
            <img src="../../assets/club-albatros3.jpeg" alt="Photo 3">
          </div>          
      </div>
    </div>
    <div class="card">
      <div class="club-sidebar">
        <img class="club-image" src="../../assets/pingouin.png" alt="albatros">
      </div>

      <div class="club-main">
        <h2 class="club-nom">Les Pingouins</h2>
        <p class="club-lieu">
          <a href="https://www.google.fr/maps/place/Restaurant+Odil/@45.6150525,-1.01152,16.99z/data=!4m6!3m5!1s0x4801779bdf4b479d:0xffd5f4267385e4b0!8m2!3d45.6143131!4d-1.0115778!16s%2Fg%2F11rsh30_5t?entry=ttu">Voir sur la carte</a>
        </p>
        <p class="club-body"><strong>Matériel au club :</strong><br>
          2 chateaux  gonflables, un grand toboggan et un petit chateau.<br>
          une piscine chauffée.<br>
          3 trampolines de plusieurs taille.<br>
          Un portique avec balançoires.<br>
          Un portique avec abris.<br>
          Un grand nombre de matériel pédagogique.</p>
          <p>
            <strong>Horaire d'ouverture :</strong><br>
            Matin: 9h30 à 12h30<br>
            Après midi: 15h30 à 18h30
          </p>
          <p>
            <strong>Accueil et renseignements (pour ne pas déranger les animateurs) : </strong><br>
            Le matin: 9h30 à 10h00 et 12h00 à 12h30<br>
            L'après midi: de 15h30 à 16h00 et 18h00 à 18h30<br>
            En dehors de ces heures: Voir rubrique contacts
          </p>
          <div class="club-photos-carousel">
            <img src="../../assets/club-pingouins1.jpeg" alt="Photo 1">
            <img src="../../assets/club-pingouins2.jpeg" alt="Photo 2">
            <img src="../../assets/club-pingouins3.jpeg" alt="Photo 3">
          </div>    
      </div>
      </div>
      <div class="card"><div class="club-sidebar">
        <img class="club-image" src="../../assets/triton.png" alt="albatros">
      </div>

      <div class="club-main">
        <h2 class="club-nom">Les Tritons</h2>
        <p class="club-lieu">
          <a href="https://www.google.fr/maps/place/PERLE+D'IODE/@45.6227695,-1.0227762,18.44z/data=!4m15!1m8!3m7!1s0x48017642c60779df:0xfc699a2a58ce73e1!2s17200+Royan!3b1!8m2!3d45.623027!4d-1.043182!16zL20vMDZqMDUw!3m5!1s0x480177fefc31b215:0xf4e10c3b2ec40612!8m2!3d45.6227505!4d-1.0217287!16s%2Fg%2F11pzkdxn0s?entry=ttu">Voir sur la carte</a>
        </p>
        <p class="club-body"><strong>Matériel au club :</strong><br>
          2 chateaux  gonflables, un grand toboggan et un petit chateau.<br>
          une piscine chauffée.<br>
          3 trampolines de plusieurs taille.<br>
          Un portique avec balançoires.<br>
          Un portique avec abris.<br>
          Un grand nombre de matériel pédagogique.</p>
        <p>
            <strong>Horaire d'ouverture :</strong><br>
            Matin: 9h30 à 12h30<br>
            Après midi: 15h30 à 18h30
        </p>
        <p>
            <strong>Accueil et renseignements (pour ne pas déranger les animateurs) : </strong><br>
            Le matin: 9h30 à 10h00 et 12h00 à 12h30<br>
            L'après midi: de 15h30 à 16h00 et 18h00 à 18h30<br>
            En dehors de ces heures: Voir rubrique contacts
        </p>
        <div class="club-photos-carousel">
          <img src="../../assets/club-tritons1.jpeg" alt="Photo 1">
          <img src="../../assets/club-tritons3.jpeg" alt="Photo 3">
          <img src="../../assets/club-tritons2.jpeg" alt="Photo 2">
        </div>    
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function(){
      $('.club-photos-carousel').slick({
        dots: true,
        infinite: true,
        speed: 300,
        slidesToShow: 1,
        slidesToScroll: 1
      });
    });
    </script>
</body>
</html>
