<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Club de Plage Royan</title>
  <link rel="stylesheet" type="text/css" href="./contacts.component.css">
</head>
<body>
  <header>
    <div id="logo">
      <img src="../../assets/logo.png" alt="Logo">
    </div>
    <div class="title-container">
        <h1>Clubs de Plage de Royan</h1>
      </div>
    <ul class="menu">
      <li><a href="/clubs">Les Clubs</a></li>
      <li><a href="/natation">Natation</a></li>
      <li><a href="/formulaire-inscription">Formulaire d'inscription</a></li>
      <li><a href="contacts">Contacts et plan</a></li>
      <li><a href="/connexion">Connexion</a></li>
    </ul>
  </header>
  
  <div class="container">
    <div class="centered-content">
      <h2 class="section-title">Pour tous renseignnements complémentaires :</h2>
    </div>
    <p>Mikaël Bussière</p>
    <p>Téléphone : 06 74 68 90 30</p>
    <p>Email : mikbussiere@gmail.com</p>
    <p>Pour chaque club, leur emplacement est disponible sur la page <a style="text-decoration: none;"   href="/clubs">Les Clubs</a></p>
  </div>
  <footer>
    <div class="footer-content">
      <a href="https://www.facebook.com/clubdeplageroyanstgeorges" target="_blank">
        <i class="fab fa-facebook-square"></i> Suivez-nous sur Facebook
      </a>
    </div>
  </footer>  
</body>
</html>
