<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Club de Plage Royan</title>
  <link rel="stylesheet" type="text/css" href="./accueil.component.css">
</head>
<body>
  <header>
    <div id="logo">
      <img src="../../assets/logo.png" alt="Logo">
    </div>
    <div class="title-container">
        <h1>Clubs de Plage de Royan</h1>
      </div>
    <ul class="menu">
      <li><a href="/clubs">Les Clubs</a></li>
      <li><a href="/natation">Natation</a></li>
      <li><a href="/formulaire-inscription">Formulaire d'inscription</a></li>
      <li><a href="contacts">Contacts et plan</a></li>
      <li><a href="/connexion">Connexion</a></li>
    </ul>
  </header>
  
  <div class="container">
    <div class="centered-content">
      <h2 class="section-title">Bienvenue aux Clubs de Plage de Royan !</h2>
    </div>
    <p>Nous offrons des activités passionnantes et amusantes pour les enfants de 3 à 12 ans sur la magnifique plage de Royan.</p>
    <p>Notre équipe expérimentée d'animateurs veillera à ce que vos enfants passent des journées inoubliables, remplies de jeux, de sport et d'activités créatives.</p>
    <p>Rejoignez-nous dès aujourd'hui pour des moments de joie et de découverte !</p>
  </div>
</body>
</html>
