.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.section-title {
  color: #e62e1a;
  font-size: 20px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  text-align: center;
  margin: 0 auto;
}

p {
  margin: 0 0 10px;
  text-align: justify;
}